
* {
	box-sizing: border-box;
}

body{
	margin: 2%;
	padding: 0;
	font-family:"Comic Sans ms";
}

.row{
	margin-top: 5%;
	margin-bottom: 5%;
}

h1{
	margin-bottom: 15px;
	font-size: 50px;
	text-align: center;
	color : #000000;
}

.box{
	width: 110%;
	margin: 0;
	overflow: none;
}

.box-heading{
	text-align: center;
	border: 4px solid black;
	width: 225px;
	height: 45px;
	padding-top: 2px; 
	padding-left: 5px; 
	float: right;
	margin-top: 0;
	margin-right: 8%;
	font-size: 23px;
	font-weight: 600;
	letter-spacing: 0.1em;
	position: relative;
	overflow: none;
}

.head1{
	color: #060E10;
	background-color: #D59898; 
}

.head2{
	color: #FFFFFF;
	background-color: #C14543;
}

.head3{
	color: #060E10;
	background-color: #E5D198;
}

.box-content{
	width: 90%;
	height: auto;
	border: 4px solid black;
	margin: 2%; 
	padding: 2%;
	padding-top: 60px;
	background-color: #999999;
}

.container {
	border: none;
	margin-left: -7px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}

@media (min-width: 992px) and (max-width: 2640px) {
  .col-lg-4 {
  	float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6{
		float: left;
		width: 50%;
	}

	.col-md-12{
		float: left;
		margin-left: -18px;
		margin-right: 18px;
	}
}

@media (max-width: 767px){
	.col-sm-12{
		float: left;
		width: 100%;
	}
}